@keyframes fade {
    0%   {opacity: 1;background-color:white;box-shadow: 0px 0px 5px;}
    100% {opacity: 0.75;background-color:lightblue;box-shadow: 5px 5px 5px;}
}

.selected  {
    border: 5px solid blue;
}

.post:hover {
    animation-name: fade;
    animation-duration: 0.5s;
    opacity: 0.75;
    background-color:lightblue;
    box-shadow: 5px 5px 5px;
}