body {
    color: #EAEAEA;
}

.post {
    width: 80%;
    border: 3px solid grey;
    margin: 20px 10px;
    padding: 10px 10px;
    font-family: "Times New Roman", Times, serif;
    background-color: #252A34;
    z-index: 10;
    color: #EAEAEA;
}

.post-title {
    text-align: center;
    margin: 0 3px;
    font-weight: bold;
    font-style: normal;
    font-size: 2em;
    background-color: #FF2E63;
    color: #252A34;
    border-radius: 7px;
}

.post-body-holder {
    background-color: #08D9D6;
    color: #252A34;
    border-radius: 5px;
}

.post-body {
    text-align: left;
    font-size: 1em;
    font-style: normal;
    font-weight: 100;
    margin: 10px;
}

.post-metadata-holder {
    background-color: #252A34;
    border: 3px solid #08D9D6;
    border-radius: 5px;
    padding: 3px;
}

.post-time {
    font-size: 0.5em;
    text-align: right;
    font-style: italic;
    margin: 0;
}

.post-tags {
    font-size: 0.7em;
    font-style: normal;
    font-weight: 100;
}

.post-user {
    text-align: left;
    font-size: 1em;
    font-style: normal;
    font-weight: 100;
}

.file-button:hover {
  opacity: 70%;
}

.inv {
  display: none;
}

.img-container .btn {
    width: auto;
    height: auto;
    transform: translate(-0%, -50%);
    -ms-transform: translate(-0%, -50%);
    background-color: #555;
    color: #EAEAEA;
    font-size: 100%;
    border: none;
    cursor: pointer;
}

.img-container .left {
  position: absolute;
  left: 1%;
  top: 50%;
}

.img-container .right {
  position: absolute;
  right: 1%;
  top: 50%;
}

.img-container .btn:hover {
    background-color: #252A34;
}

.container {
    position: relative;
    width: 100%;
    /*overflow: hidden;
  padding-top: 66.66%; /* 3:2 Aspect Ratio */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}


