.btn {
  background-color: #040404;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}


body {
  background-color: #EEE;

}

.btn:hover {
  background-color: black;
