.file-button:hover {
  background: #EAEAEA;
}

.inv {
  display: none;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.post-form {
  max-width: 500px
}

.file-button {
    -webkit-appearance: none;
    background: #EAEAEA;
    border: 1px solid #252A34;
    color: #252A34;
    border-radius: 3px;
    padding: 0.1em 0.2em;
    cursor: pointer;
}

.file-button:hover {
    background: #FF2E63;
}

.img-container button.left {
    left: 1%;
}

.img-container button.right {
  right: 1%;
}

.img-container .btn {
  width: auto;
  height: auto;
  transform: translate(-0%, -50%);
  -ms-transform: translate(-0%, -50%);
  background-color: #555;
  color: white;
  font-size: 100%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  top: 50%;
  position: absolute;
}

.img-container .btn:hover {
    background-color: black;
}
