#loginButton {
  position: fixed;
  top: 23px;
  right: 28px;
  width: 280px;
}

.open-button {
  display: block;
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

p.error-text {
    color: red;
}

#loginPopUp  {
  top: 0;
  right: 15px;
}

.popup {
  display: none;
  position: fixed;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.login-form {
  max-width: 300px;
}

.form-container {
  padding: 10px;
  background-color: white;
}

.post-form {
  max-width: 500px
}

.input-text {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.input-text:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .close {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}