body {
  background-color: #EEE;

}

.header {
    background-color: #333;
    padding: 10px;
}

.search-form {
    display: inline;
    float: center;
    width: auto;
}

.main-content {
    position: absolute;
    top: 100px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;
}

#loginButton {
  position: fixed;
  top: 23px;
  right: 28px;
  width: 280px;
}

.open-button {
  display: block;
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

p.error-text {
    color: red;
}

#loginPopUp  {
  top: 0;
  right: 15px;
}

.popup {
  display: none;
  position: fixed;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.login-form {
  max-width: 300px;
}

.form-container {
  padding: 10px;
  background-color: white;
}

.post-form {
  max-width: 500px
}

.input-text {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.input-text:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .close {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.post {
    width: 80%;
    border: 3px solid grey;
    margin: 20px 10px;
    padding: 10px 10px;
    font-family: "Times New Roman", Times, serif;
    background-color: #CCC;
    z-index: 10;
}

.post-title {
    text-align: center;
    margin: 0 3px;
    font-weight: bold;
    font-style: normal;
    font-size: 2em;
    background-color: #EED
}

.post-body-holder {
    background-color: #DEE
}

.post-body {
    text-align: left;
    font-size: 1em;
    font-style: normal;
    font-weight: 100;
    margin: 10px;
}

.post-metadata-holder {
    background-color:#EDE
}

.post-time {
    font-size: 0.5em;
    text-align: right;
    font-style: italic;
    margin: 0;
}

.post-tags {
    font-size: 0.7em;
    font-style: normal;
    font-weight: 100;
}

.post-user {
    text-align: left;
    font-size: 1em;
    font-style: normal;
    font-weight: 100;
}

.search-bar {
    width: 80%;
    height: 25px;
}

img.logo {
    height: 50px;
    display: inline;
    position: relative;
    top: 20px
}

.button-input-container {
  display: inline-flex;
  align-items: center;
}

.file-button {
  -webkit-appearance: none;
  background: #FFF;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.1em 0.2em;
  cursor: pointer;
}

.file-button:active {
  background: #666;
}

.file-button:hover {
  background: #AAA;
}

.inv {
  display: none;
}

.img-container {
  position: relative;
  width: 90%;
}

.img-container img {
  width: 100%;
  height: auto;
}

.img-container video {
  width: 100%;
  height: auto;
}

.img-container .btn {
  width: auto;
  height: auto;
  transform: translate(-0%, -50%);
  -ms-transform: translate(-0%, -50%);
  background-color: #555;
  color: white;
  font-size: 100%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.img-container .left {
  position: absolute;
  left: 1%;
  top: 50%;
}

.img-container .right {
  position: absolute;
  right: 1%;
  top: 50%;
}

.img-container .btn:hover {
  background-color: black;
}
