/* color palette
    #08D9D6
    #252A34
    #FF2E63
    #EAEAEA
*/

body {
  background-color: #252A34;
  color: #EAEAEA;
}

.header {
    background-color: #252A34;
    padding: 10px;
}

.search-form {
    display: inline;
    float: center;
    width: auto;
}

.main-content {
    position: absolute;
    top: 100px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;
}

#loginButton {
  position: fixed;
  top: 23px;
  right: 28px;
  width: 280px;
}

.open-button {
  display: block;
  background-color: #08D9D6;
  color: #EAEAEA;
  padding: 16px 20px;
  border: 3px solid ;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
}

p.error-text {
    color: #FF2E63;
}

#loginPopUp  {
  top: 0;
  right: 15px;
}

.popup {
  display: none;
  background: #EAEAEA;
  color: #252A34;
  position: fixed;
  border: 3px solid #08D9D6;
  border-radius: 5px;
  z-index: 9;
  box-shadow: -10px 10px 10px 3px #00ADB5;
}

.login-form {
  max-width: 300px;
}

.form-container {
  padding: 10px;
  background-color: white;
}

.post-form {
  max-width: 500px
}

.input-text {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: 1px solid #252A34;
  border-radius: 1px;
  background: #EAEAEA;
}

.input-text:focus {
  background-color: #DADADA;
  border: 1px solid #FF2E63;
  outline: none;
}

.form-container .btn {
  background-color: #08D9D6;
  color: #EAEAEA;
  padding: 16px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .close {
  background-color: #FF2E63;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.search-bar {
    width: 80%;
    height: 25px;
}

img.logo {
    height: 50px;
    display: inline;
    position: relative;
    top: 20px
}

.button-input-container {
  display: inline-flex;
  align-items: center;
}

.category {
    background-color: #08D9D6;
    color: #252A34;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 80%;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 3px;
}

.category:hover {
    opacity: 0.8;
}

.followed {
    background-color: #252A34;
    color: #EAEAEA;
    border: #EAEAEA;
}

.followed:hover {
    color: #FF2E63;
    border: #FF2E63;
}
