<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Post</title>
    <link rel="stylesheet" href="../static/css/send_post.css">
    <link rel="stylesheet" href="../static/css/add-post.css">
    <link rel="stylesheet" href="../static/css/Styling.css">
    <link rel="stylesheet" href="../static/css/form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<center>
    <form method="post" enctype="multipart/form-data" class="form-container post-form" action="/add-cat">
        <input name="category" id="category" class="input-text" value="{{category}}" required hidden>
        <input name="post" id="post" class="input-text" required hidden>
        <div id="posts"></div>

        <br><br>

        <button type="submit" id="submit-post" class="btn">Submit</button>
        <a href="javascript:history.back()">
            <button type="button" id="PostCloseButton" class="btn close">Close</button>
        </a>
    </form>
</center>
<script id="post-script">

    console.log("{{posts}}");
    var posts = "{{posts}}";
    if (posts == "[]") {
        const msg = document.createElement('p');
        msg.innerHTML = "There are no posts available to add to this category";
        msg.classList.add("error-text");
        document.getElementById('posts').appendChild(msg);
        document.getElementById('submit-post').hidden = true;
    }
    else {
        posts = posts.substring(9, posts.length - 5);
        posts = posts.split("&gt;, &lt;Post ");

        console.log(posts);
        for (index in posts) {
            console.log(posts[index])
            addRow(posts[index])
        }
    }
    


    function addRow(post) {

        console.log(post)

        const iframe = document.createElement('iframe');

        iframe.className = 'post';

        iframe.src = "/post/" + post;

        iframe.addEventListener('load', function() {
            this.style.height = (iframe.contentWindow.document.body.scrollHeight + 16) + "px";
            iframe.contentWindow.addEventListener('resize', function () {
                iframe.style.height = (iframe.contentWindow.document.body.scrollHeight + 16) + "px"
                console.log(iframe.contentWindow.document.body.scrollHeight);
            });
            iframe.addEventListener("click", function() {
                if (iframe.classList.contains('selected')) {
                    iframe.classList.remove('selected');
                }
                else {
                    selected_posts = document.getElementsByClassName('selected');
                    Array.prototype.forEach.call(selected_posts, function(post) {post.classList.remove('selected')});
                    document.getElementById('post').value = post;
                    console.log(document.getElementById('post').value);
                    iframe.classList.add('selected');
                }
            });
        });


        window.addEventListener('resize', function() {
            iframe.style.height = (iframe.contentWindow.document.body.scrollHeight + 16) + "px"
            console.log(iframe.contentWindow.document.body.scrollHeight);
        });



        document.getElementById('posts').appendChild(iframe);
    }
</script>
</body>
</html>