<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <title>Duke of Edinburgh Website</title>
        <link rel="stylesheet" href="../static/css/Styling.css">
        <link rel="stylesheet" href="../static/css/form.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="../static/scripts.js"></script>

    </head>

    <body>

        <var id="user" hidden>{{user}}</var>

        <button id="loginButton" class="open-button" onclick=openLogin()>Log in</button>

        <div id="loginPopUp" class="popup">
            <form method="post" class="form-container login-form" action="/login">
                <h1>Log in</h1>

                <p class="error-text" id="login-error">{{login_error}}</p>

                <label for="username">Username</label>
                <input name="username" id="username" class="input-text" required>

                <label for="password">Password </label>
                <input type="password" name="password" id="password" class="input-text" required>

                <p id="register"><a href="../register_page">Register.</a></p>
                <button type="submit" id="LoginSubmitButton" class="btn">Log in</button>
                <button type="button" id="LoginCloseButton" class="btn close" onclick="closeLogin()">Close</button>
            </form>
        </div>

        <div id="not-signed-in">
            <h1>Welcome to my website</h1>
            <p>Start by registering, then you can post notes to yourself.
                If you wish to access the notes again, then you can sign in</p>
        </div>

        <div id="signed-in">
            <div class="header">
                <a href="/"><img src="\logo" alt="logo" class="logo" /></a>
                <form action="/search-posts" method="post" class="search-form">
                    <input type="text" placeholder="Search" name="search" class="input-text search-bar" required align="center">
                    <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <br>
            <div class="main-content">
                <h1>{{title}}</h1>
                <p class="error-text" id="error">{{login_error}}</p>
                <p class="msg-text" id="msg">{{msg}}</p>

                <a id="post-redirect" href="/create-post" style="display: inline-block;">
                <button id="postButton" class="open-button">Post</button>
                </a>
                <a href="/new-category" style="display: inline-block;">
                    <button id="new-category" class="open-button">Create Category</button>
                </a>
                <a href="/manage-category" style="display: inline-block;">
                    <button id="view-category" class="open-button">Followed Categories</button>
                </a>
                <iframe style="display: none;" src="" id="follow-form"></iframe>
                <a href="/modify/{{category}}" style="display: none;" id="manage-btn">
                    <button id="manage-category" class="open-button">Manage</button>
                </a>
                <span id="follow-btn">
                    <button style="display: none;" id="follow" class="open-button">Follow</button>
                </span>

                <div id="content"></div>
            </div>
        </div>

        <script id="post-script">
            window.onload = startup;
            var followed;
            var posts;
            var follow_btn_link;
            var elementList = [];
            var contentGenerated = [];
            

            function startup() {
                resizeContent()
                window.addEventListener("resize", resizeContent)

                console.log("{{posts}}");
                posts = "{{posts}}";
                followed = "{{followed}}";
                console.log("start");
                follow_btn_link = document.getElementById("follow");

                if ("{{category}}" != "None") {
                    let btn_link = document.getElementById("manage-btn");
                    btn_link.style.display = "inline-block";

                    document.getElementById("post-redirect").href = "/add_to_category/{{category}}"
                    follow_btn_link.style.display = "inline-block";

                    checkFollowed();
                }

                if (posts == "[]") {
                    no_posts = document.createElement('p')
                    no_posts.className += "noPostsMessage"
                    no_posts.innerHTML = "There seems to be no results for your search"
                }
                else if (posts == "") {
                    no_posts = document.createElement('p')
                    no_posts.className += "noPostsMessage"
                    no_posts.innerHTML = "There seems to be no posts"
                }
                else {
                    posts = posts.substring(5, posts.length - 5);
                    posts = posts.split("&gt;, &lt;");

                    console.log(posts);
                    
                    for (index = 0; index < posts.length; index++) {
                        if (posts[index].startsWith("Post ")) {
                            addRow(posts[index].substring(5, posts[index].length));
                        }
                        if (posts[index].startsWith("Category ")) {
                            //addCat(posts[index].substring(9, posts[index].length - 5));
                        }
                    }
                    addInitialElementsToDivs();
                }
            }

            function getInitialShortestContent() {
                const main_content = document.getElementsByClassName('main-content')[0]
                height = Infinity;
                content = null;
                columns = Math.floor((main_content.offsetWidth - 15) / 320);
                for (let i = 1; i <= columns; i++) {
                    let div = document.getElementById('content' + i);
                    if (div.clientHeight < height) {
                        content = div;
                        height = div.clientHeight;
                    }
                }
                return content;
            }

            function addInitialElementsToDivs() {
                console.log("add");
                for (let i = 0; i < elementList.length; i = i + 1) {
                    let content = getInitialShortestContent();
                    if (!isIframeInDiv(content, elementList[i])) {
                        content.appendChild(elementList[i]);
                        contentGenerated[i] += content.clientHeight;
                    }
                }
            }

            function getShortestContent() {
                const main_content = document.getElementsByClassName('main-content')[0]
                let height = Infinity;
                let index = 1;
                const columns = Math.floor((main_content.offsetWidth - 15) / 320);
                for (let i = 1; i <= columns; i++) {
                    if (contentGenerated[i-1] < height) {
                        height = contentGenerated[i-1];
                        index = i;
                    }
                }
                return index;
            }

            function addElementsToDivs() {
                const main_content = document.getElementsByClassName('main-content')[0];
                const columns = Math.floor((main_content.offsetWidth - 15) / 320);
                console.log("add");
                contentGenerated = Array(columns).fill(0);
                for (let i = 0; i < elementList.length; i = i+1) {
                    let index = getShortestContent();
                    let content = document.getElementById('content' + index);
                    if (!isIframeInDiv(content, elementList[i])) {
                        content.appendChild(elementList[i]);
                    }   
                    contentGenerated[index - 1] += elementList[i].clientHeight;
                }
            }

            function isIframeInDiv(div, iframe) {
                for (let i = 0; i < div.childElementCount; i = i + 1) {
                    if (div.children.item(i).src == iframe.src) {
                        return true;
                    }
                }
                return false;
            }

            function resizeContent() {
                const content = document.getElementById('content'); 
                const main_content = document.getElementsByClassName('main-content')[0]
                
                newWidth = (main_content.offsetWidth - 15) - ((main_content.offsetWidth - 15) % 320) - 20
                console.log(newWidth);
                content.style.maxWidth = newWidth + "px";
                const columns = (main_content.offsetWidth - 15) / 320
                //655/620 975/940 1295/1260 1615/1580



                let i = Math.floor(columns) + 1
                let div = document.getElementById('content' + i);
                while (div != null) {
                    main_content.removeChild(div);
                    i++;
                    div = document.getElementById('content' + i);
                }

                for (i = 1; i < (main_content.offsetWidth - 15) / 320; i++) {
                    let div = document.getElementById('content' + i);
                    if (div == null) {
                        let div = document.createElement("div");
                        div.classList.add("content")
                        div.maxWidth = "300px";
                        div.id = "content" + i;
                        main_content.appendChild(div);
                    }
                }

                const searchBar = document.getElementsByClassName("search-bar")[0];
                const header = document.getElementsByClassName("header")[0];
                width = header.offsetWidth - 148 ;
                searchBar.style.maxWidth = width + "px";
                console.log(width);
                addElementsToDivs();
            }

            function checkFollowed() {
                if (followed == "True") {
                    console.log(followed)
                    follow_btn_link.classList.add("followed");
                    follow_btn_link.classList.remove("solid-button");
                    follow_btn_link.innerHTML = "Followed";
                    follow_btn_link.addEventListener("mouseover", showUnfollow);
                    follow_btn_link.addEventListener("mouseout", showFollowed);
                    follow_btn_link.addEventListener("click", unfollow);
                    follow_btn_link.removeEventListener("click", follow);
                }
                else {
                    console.log(followed)
                    follow_btn_link.classList.remove("followed");
                    follow_btn_link.classList.add("solid-button");
                    follow_btn_link.innerHTML = "Follow";
                    follow_btn_link.removeEventListener("mouseover", showUnfollow);
                    follow_btn_link.removeEventListener("mouseout", showFollowed);
                    follow_btn_link.removeEventListener("click", unfollow);
                    follow_btn_link.addEventListener("click", follow);
                    console.log(followed)
                }
            }

            function showFollowed() {
                follow_btn_link.innerHTML = "Followed";
            }

            function showUnfollow() {
                follow_btn_link.innerHTML = "Unfollow";
            }

            function unfollow() {
                let iframe = document.getElementById("follow-form");
                iframe.src = "/unfollow/{{category}}";
                followed = "False";
                checkFollowed();
            }

            function follow() {
                let iframe = document.getElementById("follow-form");
                iframe.src = "/follow/{{category}}";
                followed = "True";
                checkFollowed();
            }

            function addRow(post) {

                console.log(post)
                const iframe = document.createElement('iframe');       
                //content = document.getElementById("content");

                iframe.className = 'post';

                iframe.src = "/post/"+post;

                iframe.addEventListener('load', function() {
                    this.style.height = (iframe.contentWindow.document.body.scrollHeight + 16) + "px";
                    iframe.contentWindow.addEventListener('resize', function () {
                        iframe.style.height = (iframe.contentWindow.document.body.scrollHeight + 16) + "px"
                        console.log(iframe.contentWindow.document.body.scrollHeight);
                    });
                    console.log(iframe.contentWindow.getComputedStyle(iframe, null).getPropertyValue('margin-top'));
                });

                window.addEventListener('resize', function() {
                    iframe.style.height = (iframe.contentWindow.document.body.scrollHeight + 16) + "px"

                });

                /*content = getShortestContent();
                content.appendChild(iframe);*/
                elementList.push(iframe);
                console.log(elementList);
            }

            function addCat(category) {

                console.log(category)
                let temp = category.split(": &#39;");
                let name = temp[1];
                let id = temp[0];
                console.log(name)
                console.log(id)

                const btn = document.createElement('button');
                const linebreak = document.createElement("br");
                content = document.getElementById("content");

                btn.className = 'category';
                btn.innerHTML = name;
                btn.addEventListener("click", function() {
                    Select(id)
                });

                /*content = getShortestContent();
                content.appendChild(btn);*/
                elementList.push(btn);
                //document.getElementById('content').appendChild(linebreak);
                console.log(elementList);
            }

            function Select(id) {
                console.log(id);
                if (id != "") {
                    window.location.href = window.location.origin + "/category-action/" + id +"/modify"
                }
            }

        </script>
        <script src="../static/check_logged_in.js"></script>

    </body>
</html>