<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <title>Duke of Edinburgh Website</title>
        <link rel="stylesheet" href="../static/css/Styling.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="../static/scripts.js"></script>

    </head>

    <body>

        <var id="user" hidden>{{user}}</var>

        <button id="loginButton" class="open-button" onclick=openLogin()>Log in</button>

        <div id="loginPopUp" class="popup">
            <form method="post" class="form-container login-form" action="/login">
                <h1>Log in</h1>

                <p class="error-text" id="login-error">{{login_error}}</p>

                <label for="username">Username</label>
                <input name="username" id="username" class="input-text" required>

                <label for="password">Password </label>
                <input type="password" name="password" id="password" class="input-text" required>

                <p id="register"><a href="../register_page">Register.</a></p>
                <button type="submit" id="LoginSubmitButton" class="btn">Log in</button>
                <button type="button" id="LoginCloseButton" class="btn close" onclick="closeLogin()">Close</button>
            </form>
        </div>

        <div id="not-signed-in">
            <h1>Welcome to my website</h1>
            <p>Start by registering, then you can post notes to yourself.
                If you wish to access the notes again, then you can sign in</p>
        </div>

        <div id="signed-in">
            <div class="header">
                <img src="\logo" alt="logo" class="logo" />
                <form action="/search-posts" method="post" class="search-form">
                    <input type="text" placeholder="Search" name="search" class="input-text search-bar" required>
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="main-content">
                <h1>{{msg}}</h1>

                <a href="/create-post" style="display: inline-block;">
                <button id="postButton" class="open-button">Post</button>
                </a>
                <a href="/new-category" style="display: inline-block;">
                    <button id="new-category" class="open-button">Create Category</button>
                </a>
                <a href="/manage-category" style="display: inline-block;">
                    <button id="manage-category" class="open-button">Manage Categories</button>
                </a>

                <div id="content"></div>
            </div>
        </div>

        <script id="post-script">

            console.log("{{posts}}");
            var posts = "{{posts}}";
            if (posts == "[]") {
                no_posts = document.createElement('p')
                no_posts.className += "noPostsMessage"
                no_posts.innerHTML = "There seems to be no results for your search"
            }
            else if (posts == "") {
                no_posts = document.createElement('p')
                no_posts.className += "noPostsMessage"
                no_posts.innerHTML = "There seems to be no posts"
            }
            else {
                posts = posts.substring(9, posts.length - 5);
                posts = posts.split("&gt;, &lt;Post ");

                console.log(posts);

                for (index in posts) {
                    console.log(posts[index])
                    addRow(posts[index])

                }
            }


            function addRow(post) {

                console.log(post)

                const iframe = document.createElement('iframe');

                iframe.className = 'post';

                iframe.src = "/post/"+post;

                iframe.addEventListener('load', function() {
                    this.style.height = this.contentWindow.document.body.scrollHeight + 25 + "px"
                });

                window.addEventListener('resize', function() {
                    iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 25 + "px"
                });

                document.getElementById('content').appendChild(iframe);
            }
        </script>
        <script src="../static/check_logged_in.js"></script>

    </body>
</html>