<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <title>Duke of Edinburgh Website</title>
        <link rel="stylesheet" href="../static/css/Styling.css">
        <script src="../static/scripts.js"></script>

    </head>

    <body>

        <var id="user" hidden>{{user}}</var>

        <button id="loginButton" onclick=openLogin()>Log in</button>

        <div id="loginPopUp">
            <form method="post" class="form-container" action="/login">
                <h1>Log in</h1>

                <p class="error-text" id="login-error">{{login_error}}</p>

                <label for="username">Username</label>
                <input name="username" id="username" class="input-text" required>

                <label for="password">Password </label>
                <input type="password" name="password" id="password" class="input-text" required>

                <p id="register"><a href="../register_page">Register.</a></p>
                <button type="submit" id="LoginSubmitButton" class="btn">Log in</button>
                <button type="button" id="LoginCloseButton" class="btn close" onclick="closeLogin()">Close</button>
            </form>
        </div>

        <div class="signed-in">
            <h1>Welcome {{user.username}}</h1>
        </div>

        <script src="../static/check_logged_in.js"></script>

    </body>
</html>