<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invite</title>
    <link rel="stylesheet" href="../static/css/send_post.css">
    <link rel="stylesheet" href="../static/css/Styling.css">
    <link rel="stylesheet" href="../static/css/form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <center>
        <form method="post" enctype="multipart/form-data" class="form-container post-form" action="/invite-user">
            <h1>Invite</h1>
            <p class="error-text" id="error">{{err}}</p>
            <input name="category" id="category" class="input-text" value="{{category}}" required hidden>
            <label for="name">Name</label>
            <input name="name" id="name" class="input-text" required>
            <br>

            <input type="checkbox" id="post" name="post" value="true">
            <label for="post">Can Post</label><br>
            <input type="checkbox" id="view" name="view" value="true">
            <label for="view">Can View</label><br>
            <input type="checkbox" id="embed" name="embed" value="true">
            <label for="view">Can Post Media Files</label><br>
            <br><br>

            <button type="submit" id="submit-post" class="btn">Submit</button>
            <a href="javascript:history.back()">
                <button type="button" id="PostCloseButton" class="btn close">Close</button>
            </a>
        </form>
    </center>
    <script src="../static/check-error.js"></script>
</body>
</html>