<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify</title>
    <link rel="stylesheet" href="../static/css/Styling.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/select_category.css">
</head>
<body>
    <h1 style="text-align:center">Mangage {{category_name}}</h1>
    <p class="error-text" id="error">{{err}}</p>
    <div id="actions">

    </div>
    <script>
        var actions_div = document.getElementById('actions');
        var actions = "{{actions}}";
        console.log(actions);
        if (actions == "[]") {
            let name = "request access";
            console.log(name);
            let btn = document.createElement('button');
            btn.className = 'open-button btn';
            btn.innerHTML = name;
            let cat = btn.innerHTML;
            btn.addEventListener("click", function() {
                Select(name)
            }
            );
            actions_div.appendChild(btn);
        }
        else {
            actions = actions.substring(6, actions.length - 6);
            actions = actions.split("&#39;, &#39;");
            console.log(actions);

            for (index in actions) {
                let name = actions[index];
                console.log(name);
                let btn = document.createElement('button');
                btn.className = 'open-button btn';
                btn.innerHTML = name;
                let cat = btn.innerHTML;
                btn.addEventListener("click", function() {
                    Select(name)
                }
                );
                actions_div.appendChild(btn);
            }
        }
        let btn = document.createElement('button');
        let link = document.createElement("a");
        btn.className = 'open-close open-button btn';
        btn.innerHTML = "Close";
        link.appendChild(btn);
        link.href = '/category/{{category_id}}';
        actions_div.appendChild(link);

        function Select(action) {
            console.log(action);
            if ({{category_id}} != "") {
                window.location.href = window.location.origin + "/category-action/" + {{category_id}} +"/"+ action
            }
            else {
                window.location.href = window.location.origin + "/select-category/" + action
            }
        }
    </script>
</body>
</html>