<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post</title>
    <link rel="stylesheet" href="../static/css/Styling.css">
</head>
<body>
    <h3 class="post-title">{{post_info['title']}}</h3>
    <div class="post-body-holder">
    <p class="post-body">{{post_info['body']}}</p>
    </div>
    <p class="post-tags">tags: {{post_info['tags']}}</p>
    <span class="post-user">Posted by {{post_info['user']}}</span>
    <span class="post-time">at {{post_info['time']}}</span>
    <img id="img"></img>
    <p id="var" class="inv">{{post_info['files'][0]}}</var>
    <script>
        var file = document.getElementById("var").innerHTML;
        const img = document.getElementById("img");
        console.log(`data:image/png;base64` + file);
        img.src = `data:image/png;base64` + file;
    </script>
</body>
</html>