<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mute</title>
    <link rel="stylesheet" href="../static/css/send_post.css">
    <link rel="stylesheet" href="../static/css/Styling.css">
    <link rel="stylesheet" href="../static/css/form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../static/createUserDropDown.js"></script>
</head>
<body>
    <center>
        <h1>Promote</h1>
        <form method="post" enctype="multipart/form-data" class="form-container post-form" action="/mute-form">
            <input name="category" id="category" class="input-text" value="{{category}}" required hidden>
            <label for="user">User</label>
            <select name="user" id="user" required></select>
            <br>
            <label for="level">Level</label>
            <span id="levelPreview"></span>
            <iframe src="" id="levelObtainer" hidden></iframe>
            <p>lower level allows the user more power</p>
            <input name="level" id="level" type="number" inputmode="numeric" required>

            <br><br>

            <button type="submit" id="submit-post" class="btn">Submit</button>
            <a href="/category/{{category}}">
                <button type="button" id="PostCloseButton" class="btn close">Close</button>
            </a>
        </form>
        <p style="display:none;" id="users">{{users}}</p>
    </center>
    <script>
        var user_dropdown = document.getElementById('user');
        var users = "{{users}}";
        var user_ids = "{{users}}";
        var level_preview = document.getElementById("levelPreview");
        var level_obtainer = document.getElementById("levelObtainer");
        observer = new MutationObserver(function (mutationsList, observer) {
            console.log(mutationsList);
            level_preview.innerHTML = "fish";
        });
        console.log(users);;
        console.log(user_ids);
        userList = setupUserList(users);
        createDropDown(userList, 'user');
        level_obtainer.src = "/get-level/" + {{ category }} + "/" + user_dropdown.value;
        level_preview.innerHTML = level_obtainer.innerHTML;
        console.log(fetch(""))

        user_dropdown.addEventListener("change", function () {
            level_obtainer.src = "/get-level/" + {{ category }} + "/" + user_dropdown.value;
            level_preview.innerHTML = level_obtainer.innerHTML;
            console.log("working");
        })
        observer.observe(level_obtainer, { characterData: true, childList: true, attributes: true, subtree: true });
        level_obtainer.addEventListener("change", function () {
            level_preview.innerHTML = level_obtainer.innerHTML;
            console.log("working")
        })
    </script>
</body>
</html>