<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/Styling.css">
    <link rel="stylesheet" href="../static/css/form.css">
    <script src="../static/register.js"></script>
    <link rel="icon" href="\logo">
</head>
<body>
    <center>
        <div class="bordered">
            <form method="post" class="form-container login-form"  action="/register">
                <h1>Register</h1>

                <p class="error-text">{{error}}</p>

                <label for="username">Username</label>
                <input name="username" id="username" class="input-text" required>

                <label for="password">Password </label>
                <input type="password" name="password" id="password" class="input-text" required>

                <button type="submit" id="LoginSubmitButton" class="btn">Register</button>
                <a href="/">
                    <button type="button" id="LoginCloseButton" class="btn close">Back</button>
                </a>
            </form>
        </div>

    </center>
</body>
</html>