<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Post</title>
    <link rel="stylesheet" href="../static/css/send_post.css">
    <link rel="stylesheet" href="../static/css/delete-post.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<center>
    <form method="post" enctype="multipart/form-data" class="form-container post-form" action="/del-post">
        <input name="category" id="category" class="input-text" value="{{category}}" required hidden>
        <input name="post" id="post" class="input-text" required hidden>
        <div id="posts"></div>

        <br><br>

        <button type="submit" id="submit-post" class="btn">Submit</button>
        <a href="/">
            <button type="button" id="PostCloseButton" class="btn close">Close</button>
        </a>
    </form>
</center>
<script id="post-script">

    console.log("{{posts}}");
    var posts = "{{posts}}";
    posts = posts.substring(9, posts.length - 5);
    posts = posts.split("&gt;, &lt;Post ");

    console.log(posts);
    for (index in posts) {
        console.log(posts[index])
        addRow(posts[index])
    }


    function addRow(post) {

        console.log(post)

        const iframe = document.createElement('iframe');
        const container = document.createElement('p');

        iframe.className = 'post';

        iframe.src = "/post/"+post;

        iframe.addEventListener('load', function() {
            this.style.height = this.contentWindow.document.body.scrollHeight + 25 + "px";
            iframe.contentWindow.document.addEventListener("click", function() {
                if (iframe.classList.contains('selected')) {
                    iframe.classList.remove('selected');
                }
                else {
                    selected_posts = document.getElementsByClassName('selected');
                    Array.prototype.forEach.call(selected_posts, function(post) {post.classList.remove('selected')});
                    document.getElementById('post').value = post;
                    console.log(document.getElementById('post').value);
                    iframe.classList.add('selected');
                }
            });
        });

        window.addEventListener('resize', function() {
            iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 25 + "px"
        });



        document.getElementById('posts').appendChild(iframe);
    }
</script>
</body>
</html>