<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Post</title>
    <link rel="stylesheet" href="../static/css/send_post.css">
    <link rel="stylesheet" href="../static/css/Styling.css">
    <link rel="stylesheet" href="../static/css/form.css">
    <link rel="stylesheet" href="../static/css/delete-post.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <center>
        <form method="post" enctype="multipart/form-data" class="form-container post-form" action="/del-post">
            <h1>Delete Posts</h1>
            <p class="error-text" id="error">{{err}}</p>
            <input name="category" id="category" class="input-text" value="{{category}}" required hidden>
            <input name="post" id="post" class="input-text" required hidden>
            <div id="posts"></div>

            <br><br>

            <button type="submit" id="submit-post" class="btn">Submit</button>
            <button type="button" id="PostCloseButton" class="btn close" onclick="window.location.href = '/modify/{{category}}'">Close</button>
        </form>
    </center>
    <script src="../static/add-post-add-row.js"></script>
    <script id="post-script">

    console.log("{{posts}}");
    var posts = "{{posts}}";
    posts = posts.substring(9, posts.length - 5);
    posts = posts.split("&gt;, &lt;Post ");

    console.log(posts);
    if (posts != "[]") {
        for (index in posts) {
            console.log(posts[index])
            addRow(posts[index])
        }
    }
    else {
        const msg = document.createElement('p');
        msg.innerHTML = "There are no posts available to add to this category";
        msg.classList.add("error-text");
        document.getElementById('posts').appendChild(msg);
        document.getElementById('submit-post').hidden = true;
    }
    </script>
    <script src="../static/check-error.js"></script>
</body>
</html>