<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>select categories</title>
    <link rel="stylesheet" href="../static/css/Styling.css">
    <link rel="stylesheet" href="../static/css/select_category.css">
</head>
<body>
    <h1 style="text-align:center">Followed Categories</h1>
    <p class="error-text" id="error">{{err}}</p>
    <div id="categories"></div>
    <script>
    var cat_div = document.getElementById('categories');
    var categories = "{{categories}}";
    var users = "{{users}}"
    console.log(categories);
    if (categories == "[]") {
        no_categories = document.createElement('p');
        cat_div.appendChild(no_categories);
        no_categories.innerHTML = "You are currently following no categories.\nUse the search bar to find some that are of interest to you.";
    }
    else {
        categories = categories.substring(7, categories.length - 2);
        categories = categories.split("), (&#39;");
        console.log(categories);

        for (index in categories) {
            let temp = categories[index].split("&#39;, ");
            let name = temp[0];
            let id = temp[1];
            console.log(name);
            console.log(id);
            let btn = document.createElement('button');
            btn.className = 'btn open-button';
            btn.innerHTML = name;
            let cat = btn.innerHTML;
            btn.addEventListener("click", function() {
                Select(id)
            }
            );
            cat_div.appendChild(btn);
        }
        let btn = document.createElement('button');
        let link = document.createElement("a");
        btn.className = 'open-close open-button btn';
        btn.innerHTML = "Close";
        link.appendChild(btn);
        link.href = "/";
        cat_div.appendChild(link);
    }

    function Select(id) {
        console.log(id);
        window.location.href = window.location.origin + "/category-action/" + id +"/"+ "{{action}}"
    }
    </script>
</body>
</html>