<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create post</title>
    <link rel="stylesheet" href="../static/css/Styling.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<center>

    <form method="post" class="form-container post-form" action="/add_post">
        <label for="title">Title</label>
        <input name="title" id="title" class="input-text" required>
        <br>
        <label for="body">Body</label>

        <div class="body-input input-text" id="body-input">
            <textarea name="body" id="body" class="body-input input-text" required></textarea>
            <div class="img-container inv" id="imgPreviewContainer">
                <img id='imgPreview' alt="image cannot be loaded"/>
                <button type="button" class="btn left" onclick="move_image(-1)">&#10094;</button>
                <button type="button" class="btn right" onclick="move_image(+1)">&#10095;</button>
            </div>
            <br>

            <div class="button-input-container">
                <input type="file" class="files-inputed inv" id="file-input" name="files[]" multiple>
                <input type="file" class="new-file-input inv" id="File" name="file">
                <button class="file-button" type="button"><i class="fa fa-file-image-o"></i></button>
            </div>

        </div>


        <br><br>
        <label for="tags">Tags</label>
        <input name="tags" id="tags" class="input-text">

        <button type="submit" id="submit-post" class="btn">Submit</button>
        <a href="/">
            <button type="button" id="PostCloseButton" class="btn close">Close</button>
        </a>
    </form>
</center>
<script src="../static/image-render.js"></script>
<script src="../static/modify-file-upload-button.js"></script>
</body>
</html>