<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create post</title>
    <link rel="stylesheet" href="../static/css/Styling.css">
</head>
<body>
<center>
    <form method="post" class="form-container post-form" action="/add_post" onsubmit="return getContent()">
        <label for="title">Title</label>
        <input name="title" id="title" class="input-text" required>
        <br>
        <label for="body">Body</label>
        <textarea name="body" id="body" style="display:none" required></textarea>
        <div contenteditable="true" class="body-input input-text" id="body-input">
            <input type="file" id="File" name="filename">
            <img id='imgPreview' alt="image cannot be loaded"/>
        </div>


        <br><br>
        <label for="tags">Tags</label>
        <input name="tags" id="tags" class="input-text">

        <button type="submit" id="submit-post" class="btn">Submit</button>
        <a href="/">
            <button type="button" id="PostCloseButton" class="btn close">Close</button>
        </a>
    </form>
</center>
<script src="../static/image-render.js"></script>
</body>
</html>